span{
     color:red;
     font-size:20px;
}
p{

   color:yellow;
   font-size:12px; 
   background:black

}
h1{
   color:blue
}
h2{
   font-size:14px;
}
li{
   font-size:14px;

}
img{
   
      border:2px solid red;
      border-color:red;
   
}
