span{
     color:red;
     font-size:20px;
}
.motto{
   color:yellow;
   font-size:12px; 
   background:black
}
.inspiration{
   color:black;
   font-size:12px; 
   
}

h1{
   color:blue
}
h2{
   font-size:14px;
}
li{
   font-size:14px;

}
img{
   
      border:2px solid red;
      border-color:red;  
}
#div_red{
         /* padding:20px; */
         margin:20px auto; /* 水平居中处理*/
         background:red;
         width:960px;
         height:960px;

         
}
#div_blue{
         padding:960px;
         background:blue;
         margin:10px auto;
}