span{
     color:red;
     font-size:20px;
}
.motto{
   color:yellow;
   font-size:12px; 
   background:black
}
.inspiration{
   color:black;
   font-size:12px; 
   
}

h1{
   color:blue
}
h2{
   font-size:14px;
}
li{
   font-size:14px;

}
img{
   
      border:2px solid red;
      border-color:red;  
}
#div_red{
         padding:100px;
         background:red;
         margin:10px auto;
}
#div_blue{
         padding:100px;
         background:blue;
         margin:10px auto;
}